@import '../../styles/mixins.scss';

.footer {
    background-color: #fff;
    padding-block: 3rem;
    text-align: center;
    
    img {
        width: fit-content;
        margin-inline: auto;
        
    }

    &__links {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        align-items: center;
        width: fit-content;
        margin-inline: auto;
        margin-top: 3rem;
    }

    li {
        cursor: pointer;
        transition: all 0.4s ease;

        &:hover {
            color: #f06479;
        }
    }
}