@import '../../styles/mixins.scss';

.flower {
    padding-block: 4rem 9rem;
    
    &__text {
        width: 60%;
        text-align: center;
        margin-inline: auto;
        margin-bottom: 4rem;

        @include respond(tabb-port) {
            width: 80%;
        }
        @include respond(phone) {
            width: 100%;
        }
    }
    h2 {
        font-size: 3rem;
        letter-spacing: -0.025rem;
        line-height: 1.1;
        margin-bottom: 1rem;
    }
    h3 {
        font-size: 1.2rem;
        letter-spacing: -0.025rem;
        line-height: 1.1;
        margin-block: 1.2rem 0.2rem;
    }
    &__card {
        padding: 2rem 5rem;
        text-align: center;
    }
    p {
        font-size: 1.2rem;
        letter-spacing: -0.025rem;
        line-height: 1.75;
    }
    img {
        width: 100%;
    }
    &__btn {
        width: fit-content;
        margin-inline: auto;
        margin-top: 3rem;
    }
    .react-multi-carousel-list {
        @include respond(phone) {
            padding-top: 2rem;
        }
    }

    .react-multiple-carousel__arrow--left {
        left: 0;

        @include respond(phone) {
            bottom: 0;
            left: 32%;
        }
    }
    .react-multiple-carousel__arrow--right {
        right: 0;

        @include respond(phone) {
            bottom: 0;
            right: 32%;
        }
    }
    .react-multiple-carousel__arrow {
        background-color: rgba(255, 255, 255, 0.64);
        min-width: 1rem;
        min-height: 1rem;
        color: #000;
        opacity: 50%;
    }
    .react-multiple-carousel__arrow:hover {
        opacity: 100%;
        background-color: #fff;
    }
    .react-multiple-carousel__arrow::before {
        color: #000;
    }
}